:root {
    --fond: #272635;
    --fondJoueur:"";
    --fondCpu:"";
}

* {
    box-sizing: border-box;
    margin: 0;

}

body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.fond{
    background-color:var(--fond);
    position: absolute;
    width: 100%;
    height: 100%;

}


.boiteFormulaire {
    width: 280px;
    border-radius: 20px;
    background-color: #f0BCD4;
    position: relative;
    top: 50%;
    left:50%;
    transform:translate(-50%,-50%);
}

.choixRadio{
    display: flex;
    justify-content: space-around;

}

.formulaire{
    padding: 20px;
}

#name{
    height: 40px;
    border-radius: 20px;
    border: 0;
    width: 100%;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.5);

}

p{
    margin: 10px 0;
    font-size: 20px;

}

#arme{
    height: 40px;
    border-radius: 20px;
    border: 0;
    width: 100%;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.5);

}

#Jouer{
    height: 40px;
    border-radius: 20px;
    border: 0;
    width: 100%;
    padding: 10px;
}



.nom {
    position: absolute;
    font-size: 50px;
    top: 15%;
    left:50%;
    transform: translateX(-50%);

}


#wrapperResulat{
    width: 100%;
    height: 100%;
    display: flex;
    background-color: rgba(255, 255, 255, 0.5);
    display: none;
    color: #fff;

}

.resultat-joueur{
   
    width: 50%;
    height: 100%;
    background-color: var(--fondJoueur);
    position: absolute;

    /*justify-content: flex-start;*/

}

.resultat-cpu{
    
    width: 50%;
    height: 100%;
    background-color: var(--fondCpu);
    position: absolute;
    right: 0px;
  /*  justify-content: flex-start;*/

}

.resultat-final{
    position: absolute;
    top: 85%;
    transform: translateX(-50%);
    color: #fff;
    font-size: 50px;
    left: 50%;

  


}

#btn-rejouer{
    position: absolute;
    top:75%;
    height: 40px;
    border-radius:20px;
    width: 150px;
    bottom: 8%;
    left: 50%;
    transform: translateX(-50%);
    font-size:20px;

}


.hideForm {
    display: none;
}


.emojiJoueur{
    position: absolute;
    left:50%;
    top:50%;
    font-size : 80px;
    transform: translate(-50%, -50%);

}


.emojiCpu{
    position: absolute;
    left:50%;
    top:50%;
    font-size : 80px;
    transform: translate(-50%, -50%);


}